
.btn{
    margin-top: 2%;
    width: 6vw;
    height: 9vh;
    border: none;
    background: transparent;
    font-weight: bold
}

.btn:hover{
    background-color: lightgray;
    cursor: pointer;
    border: 3px dashed gray;
    border-radius: 5%;
}